.overall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    text-align: center;
    font-size: 12px;
}
.topleft {
    grid-area: a;
}
.topright {
    grid-area: b;
}
.bottomleft {
    grid-area: c;
}
.bottomright {
    grid-area: d;
}
.heading1 {
    color: rgb(30, 209, 241);
    font-size: 30px;
    font-weight: 500;
}
.info {
    color: gold;
}
.portion {
    font-size: 20px;
}
.grey {
    padding-top: 0.5em;
    color: gray;
}
.banner {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(30, 209, 241);
    text-align: center;
    margin-top: 1em;
}
.images {
    width: 20%;
}